.table1 {
	width: 30%;
	border-spacing: 2 px;
	margin-left: auto;
    margin-right: auto;
}
.quero{
	height: 50px;
	width: 30%;
}
.via{
	height: 50px;
	width: 30%;
}
.table2 {
	width: 50%;
	margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
	background-color: #af2514;
}
.zap{
	position: absolute;
	top: 30px;
	right: 30px;
	height: 30px;

}
.table3 {
	width: 50%;
	border-spacing: 30px;
	margin-left: auto;
    margin-right: auto;
}
.table4 {
	width: 50%;
	border-spacing: 10px;
	margin-left: auto;
    margin-right: auto;
}
header {
padding: 120px;
color: white;
background-color:#053449;
clear: left;
text-align: center;
}
.van{
	position: absolute;
	top: 100px;
	right: 400px;
	height: 200px;
}
.bus{
	position: absolute;
	top: 74px;
	right: 10px;
	height: 280px;

}

.logo{
	position: absolute;
	top: 100px;
	right: 950px;
	height: 200px;

}
.cart{
	width: 100%;
}
.caros1{
	height: 210px;
}
.caros2{
	height: 320px;
}
.rod0{
	height: 15%;
	width: 100%;
}
.login{
	position: absolute;
	top: 540px;
	right: 110px;

}
nav {
display: inline-block;
background-color:#af2514;
list-style: none;
margin: 0px;
padding: 0;
width:100%;
}

nav li {
float: center;
margin: 0 30px;
}
nav li a {
color: #efefef;
text-decoration: none;
}
li {
display: inline;
}
article {
	padding: 1px;
	overflow: hidden;
	font-family: Georgia, serif;
	padding-top: 15px;
    padding-right: 70px;
    padding-bottom: 25px;
    padding-left: 85px;
	text-align: justify;
}

.rodape {
	width: 122%;
	border-spacing: 0px;
	margin-left: auto;
    margin-right: auto;
	font-family: Georgia, serif;
}

body {
	background-color: #f2f4f6;
}
#ex {
color: #61a81f;
text-align: left;
font-family: Georgia, serif;
}

}
#l {
	border-top: 5px solid #053449;
}
 footer {
	background-color: #053449;
	color: white;
	padding: 20px;
	text-align: center;
	margin-top: 0px;
	font-family: Open Sans, sans-serif;
        }

        footer table {
            margin: 0 auto; 
            width: 120%; 
            max-width: 1200px; 
        }

        footer td {
            padding: 10px; 
            vertical-align: top; 
            width: 12.5%; 
        }

        footer h3 {
            color: #61a91b; 
            font-size: 16px; 
            margin-bottom: 10px;
        }

        footer a {
            color: #f2c64a; 
            text-decoration: none; 
            display: block; 
            margin-bottom: 5px; 
        }
		